<div class="header">

    <div class="header-box">
      <h1 class=header-title>Ticker-Tape Stadium</h1>
    </div>

    <div class="nav-box">
      <div class="nav-left">
        <button class="nav-button"{{action "toggleShow"}}> + </button>
          {{#if showNav}}
          <div class="nav-box-show">
            <h2 class="navigate-dashboard">{{#link-to "header.dashboard"}}Dashboard{{/link-to}}</h2>
            <h2 class="navigate-portfolio">{{#link-to "header.portfolio"}}Portfolio{{/link-to}}</h2>
            <h2 class="navigate-top-stocks">{{#link-to "header.top-stocks"}}Top Stocks{{/link-to}}</h2>
            <h2 class="navigate-help">{{#link-to "header.help"}}Help{{/link-to}}</h2>
          </div>
          {{/if}}
      </div>

      <div class="user-id">
        <a class="userbox-title"{{action "toggleHi"}}>{{session.currentUser.username}}</a>
        <i class="fa fa-caret-square-o-down userbox-icon"></i>
          {{#if showUser}}
            <div class="user-box-content">
              <h2 class="userbox-username">{{session.currentUser.username}}</h2>
              <h2 class="userbox-capital">{{to-dollar session.currentUser.worth}}</h2>
              <h2 class="userbox-status">Amateur Investor</h2>

            <div class="adjust-logout">
            {{#if session.isAuthenticated}}
                <button class="logout-button" {{action 'invalidateSession'}}
              >Log Out</button>
            {{/if}}
            </div>
          </div>
        {{/if}}
      </div>


    </div>

</div>
