<tr class="recent-match-info">
  <td class="t-date-column">{{date}}</td>
  <td class="t-home-column">{{match.home.Teams}}
    <span class="t-home-column-score">{{to-dollar match.teamSelected.twoMatchTrend}}</span>
  </td>
  <td class="t-away-column">{{match.away.Teams}}
    <span class="t-away-column-score">{{to-dollar match.teamSelected.twoMatchTrend}}</span>
  </td>
  <td class="t-score-column">{{match.homeGoals.length}} - {{match.awayGoals.length}}</td>
</tr>
