<tr class="recent-match-info">
  <td class="t-date-column">{{date}}</td>
  <td class="t-home-column">{{match.home.Teams}}</td>
  <td class="t-away-column">{{match.away.Teams}}</td>
  <td class="t-score-column">{{match.homeGoals}} - {{match.awayGoals}}</td>
</tr>
