<div class="team-stocks-page">

  <h1 class="stock-header-title">Stocks</h1>

  <div class="stock-header">
      <h1 class="stock-name">{{model.team.Teams}}</h1>
      <h1 class="stock-league">{{model.team.Name}}</h1>
      <h1 class="stock-symbol">{{model.team.symbol}}</h1>
      <h1 class="stock-value">${{model.team.value}}</h1>
  </div>

  <table class="recent-stock-matches">
    <h2 class="s-recent-matches">Recent Matches</h2>
    <tr class="recent-match-list">
      <th class="t-date">Date</th>
      <th class="t-home">Home</th>
      <th class="t-away">Away</th>
      <th class="t-score">Score</th>
    </tr>
{{log 'model.recent' model.recent}}
    {{#each model.recent as |match|}}
      {{recent-match match=match}}
    {{/each}}
  </table>


  <div class="team-stock-performance">
    <h2 class="performance-title">Performance</h2>
  </div>

  <div class="buy-sell-stocks">

    <div class="trade-stock-header">
      <h2 class="trade-stock">Trade</h2>
      <h2 class="stock-price">${{model.team.value}}</h2>
    </div>

    <div class="trade-stock-action">
      <button class="buy-sell-action">
        <div class="action-actions">
          <button class="buy-action" {{action 'buy'}}>Buy</button>
          <button class="sell-action" {{action 'sell'}}>Sell</button>
        </div>
      </button>
      {{input class="stock-input" type="text" value=quantity placeholder="Quantity"}}
      <button class="submit-action" type="submit" {{action "quantitySubmit" on "click"}}>Submit</button>
    </div>

    <div class=trade-stock-bottom>
      <h2 class="total-stock-amount">Total: ${{total}}</h2>
      <h2 class="shares-you-own">Shares You Own: {{model.myShare.quantity}}</h2>
    </div>

  </div>

</div>
