<div class="team-stocks-page">

  <div class="stock-header">
      <h1 class="stock-name">{{model.Teams}}</h1>
      <h1 class="stock-league">{{model.Name}}</h1>
      <h1 class="stock-symbol">{{model.symbol}}</h1>
      <h1 class="stock-value">{{model.value}}</h1>
  </div>

  <div class="recent-stock-matches">
    <h2 class="s-recent-matches">Recent Matches</h2>
    <ul class="recent-match-list">
      <li class="t-date">Date</li>
      <li class="t-home">Home</li>
      <li class="t-away">Away</li>
      <li class="t-score">Score</li>
    </ul>
  </div>

  <div class="team-stock-performance">
    <h2 class="performance-title">Performane</h2>
  </div>

  <div class="buy-sell-stocks">

    <div class="trade-stock-header">
      <h2 class="trade-stock">Trade</h2>
      <h2 class="stock-price">Price</h2>
    </div>

    <div class="trade-stock-action">
      <button class="buy-sell-action">Action</button>
      <input type="text" placeholder="Quantity">
      <button class="sumbit-action" type="submit">Submit</button>
    </div>

    <div class=trade-stock-bottom>
      <h2 class="total-stock-amount">Total:</h2>
      <h2 class="shares-you-own">Shares You Own:</h2>
    </div>

  </div>

</div>



{{yield}}
